name: Identify Modified Workspace

on:
  workflow_call:
    outputs:
      workspace_path:
        description: "The path to the modified workspace"
        value: ${{ jobs.identify-modified-workspace.outputs.workspace_path }}

jobs:
  identify-modified-workspace:
    runs-on: ubuntu-latest
    outputs:
      workspace_path: ${{ steps.check-workspaces.outputs.workspace_path }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref || github.ref }}

      - name: Remove changed_files.txt
        run: |
          rm changed_files.txt

      - name: Report event type
        run: |
          echo "${{ github.event_name }}"

      - name: Dump GitHub Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"

      - name: Get changed files (Only in accounts/)
        id: changed-files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.issue.pull_request.url }}
        run: |
          # Determine base and head refs based on event type
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            HEAD_REF="HEAD"
          else
            # For issue_comment, we need to fetch PR's base and head
            PR_DETAILS=$(curl -s -H "Authorization: token $GITHUB_TOKEN" $PR_URL)
            
            # Extract head and base branch names
            HEAD_REF=$(echo "$PR_DETAILS" | jq -r '.head.ref')
          fi
          BASE_REF="origin/main"
          echo $BASE_REF
          echo $HEAD_REF

          git fetch origin main --depth=1

          CHANGED_FILES=$(git diff --name-only $BASE_REF $HEAD_REF | grep '^accounts/' | grep -v 'README.md' || true)

          # If there are no relevant changes, exit early
          if [[ -z "$CHANGED_FILES" ]]; then
            echo "No relevant changes in accounts/ directory."
            exit 0
          fi
          echo "$CHANGED_FILES" > changed_files.txt
          cat changed_files.txt

      - name: Extract unique workspaces
        id: check-workspaces
        run: |
          WORKSPACES=$(cat changed_files.txt | awk -F'/' '{print $1 "/" $2 "/" $3 }' | sort -u)
          echo "Modified workspaces:"
          echo "$WORKSPACES"

          UNIQUE_COUNT=$(echo "$WORKSPACES" | wc -l)

          if [[ "$UNIQUE_COUNT" -eq 1 ]]; then
            echo "✅ There is a single workspace modified $WORKSPACES"
            WORKSPACE_PATH=$(echo "$WORKSPACES")
            echo "workspace_path=$WORKSPACE_PATH" >> $GITHUB_ENV
            echo "::set-output name=workspace_path::$WORKSPACE_PATH"
          fi

          # Fail if multiple workspaces are modified
          if [[ "$UNIQUE_COUNT" -gt 1 ]]; then
            echo "❌ Multiple workspaces were modified. Please limit changes to a single workspace."
            exit 1
          fi
